<div id="hero-search-improved">
	<h4>(((The CHAD))) Improved Hero Search&trade;</h4>

	<input type="text" id="search-box" #searchBox (input)="search(searchBox.value)" />

	<label>
		Show all
		<input
			type="checkbox"
			name="show-all"
			#showAllHeroesWhenEmptyRef
			[(ngModel)]="showAllHeroesWhenEmpty"
			(change)="
				updateShowAll(showAllHeroesWhenEmptyRef.checked, searchBox.value, showAllHeroesWhenEmptyRef)
			"
		/>
	</label>

	<ul class="search-results" *ngIf="foundHeroes?.length">
		<li class="result" *ngFor="let hero of foundHeroes" routerLink="/heroes/{{ hero.id }}">
			{{ hero.name }}
		</li>
	</ul>
</div>
