<h3 class="top-x-heroes">
	Top
	<input
		id="howManyHeroesSelector"
		type="number"
		[(ngModel)]="howManyHeroes"
		(ngModelChange)="updateHowManyHeroesAreShowed()"
		[min]="0"
		[max]="originalHeroes.length"
	/>
	Heroes
</h3>

<ng-container
	*ngIf="shownHeroes.length; then heroesAvailableTemplate; else noHeroesAvailableTemplate"
></ng-container>

<ng-template #heroesAvailableTemplate>
	<div class="grid grid-pad">
		<a *ngFor="let hero of shownHeroes" class="col-1-4" routerLink="/heroes/{{ hero.id }}">
			<div class="module hero">
				<h4>{{ hero.name }}</h4>
			</div>
		</a>
	</div>
</ng-template>

<ng-template #noHeroesAvailableTemplate>
	<h1 *ngIf="!originalHeroes.length; else noHeroesSelectedTemplate">0 heroes available :s</h1>
</ng-template>

<ng-template #noHeroesSelectedTemplate>
	<h1 *ngIf="!shownHeroes.length; else noHeroesAvailableTemplate">You selected 0 heroes :s</h1>
</ng-template>

<ng-template #errorTemplate>
	<h1>Something went wrong!</h1>
</ng-template>
