/* HeroSearch private styles */
#search-box {
	width: 192px;
	font-size: 1.5em;
	padding: 0.5em;

	border: 1px solid #607d8b;
}

.search-result li {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	width: 208px;
	height: 16px;
	padding: 6px 4px;
	background-color: white;
	cursor: pointer;
	list-style-type: none;
}

.search-result li:hover {
	background-color: #607d8b;
}

.search-result li a {
	color: #888;
	display: block;
	text-decoration: none;
}

.search-result li a:hover {
	color: white;
}
.search-result li a:active {
	color: white;
}

ul.search-result {
	margin-top: 0;
	padding-left: 0;
}
